---
layout: base
---
<div class="blog-cover" style="background-image:url(/images/{{ site.npnt.cover_image }});">
  <a href="http://www.reactivemanifesto.org/" targe="_blank">
    <img class="reactive-manifesto" src="//d379ifj7s9wntv.cloudfront.net/reactivemanifesto/images/ribbons/we-are-reactive-black-left.png">
  </a>
  <a href="https://github.com/nepente/blog" targe="_blank">
    <img class="fork-github" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png">
  </a>
  <section>
      <div class="container">
          <h1>{{ site.npnt.title }}</h1>
          {% if site.npnt.subtitle %}<h3>{{ site.npnt.subtitle }}</h3>{% endif %}
          {% if site.npnt.github %}
          <a href="http://github.com/{{ site.npnt.github }}" title="Fork on GitHub" target="_blank"><i class="fa fa-github"></i></a>
          {% endif %}
          {% if site.npnt.twitter %}
          <a href="https://twitter.com/{{ site.npnt.twitter }}" title="Siga no Twitter Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
          {% endif %}
          {% if site.npnt.gplus %}
          <a href="https://plus.google.com/{{ site.npnt.gplus }}" title="Adicione em seu círculo" target="_blank"><i class="fa fa-google-plus"></i></a>
          {% endif %}
      </div>
  </section>
</div>


<article class="container">
{% for post in paginator.posts %}
  {% unless post.draft %}
    <section class="index">
        <div>
            <h2 class="title"><a href="{{ post.url }}" rel="prefetch">{{ post.title }}</a></h2>
            <p>{{ post.excerpt }}</p>
            <div class="meta">
              {% assign author = site.authors[post.author] %}
              {% if author %} Escrito por <address>{{ author.name }}</address> &mdash;{% endif %}
                <time pubdate datetime="{{ post.date | date: "%m/%d/%Y" }}" title="{{ post.date | date: "%m/%d/%Y" }}">{{ post.date | date: "%m/%d/%Y" }}</time>
            </div>
        </div>
        <hr>
    </section>
    {% endunless %}
    {% endfor %}
    <section class="pagination" style="text-align:center">
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <a href="/" class="btn btn-outline">‹ Anteriores</a>
        {% else %}
        <a href="/page{{ paginator.previous_page }}" class="btn btn-outline">‹ Anteriores</a>
        {% endif %}
      {% endif %}
      {% if paginator.next_page %}
        <a href="/page{{ paginator.next_page }}" class="btn btn-outline">Próximas ›</a>
      {% endif %}
    </section>
</article>
